$white: #ffffff;
$whiteBackground: #fbfbfb;
$black: #000000;
$gray: #afafb2;
$darkBlue: #1B2534;
$darkGray: rgba(27, 37, 52, 0.5);
$red: #fc4f4f;
$green: #4ebb3d;
$orange: #fdab27;
$darkRed: #f62e2e;

$backgroundColor: linear-gradient(295deg, #30A8FF 0%, #c4f5cf 100%);
$whiteGradient: linear-gradient(180deg, $white 0%, #fbfbfb 100%);
$redGradient: linear-gradient(180deg, #f27689 0%, #fcd1a0 100%);
$orangeGradient: linear-gradient(180deg, #f99831 0%, #ffe991 100%);
$greenGradient: linear-gradient(180deg, #50de8e 0%, #aaf3d9 100%);

$boxShadowLg: 0 0.3rem 1.3rem rgba($black, .3);
$boxShadowSm: 0 0.1rem 0.8rem rgba($black, .1);
$boxShadowInset: inset 0 0.1rem 0.1rem rgba(114, 74, 42, 0.1);
