@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;600&display=swap');
@import "base/variables";

/*__reset____ */
*, *::after, *::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  color: $darkBlue;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.1;
  font-size: 14px;
  background: $backgroundColor;
}
a {
  text-decoration: none;
}
ul, ol, li {
  list-style: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.header {
  border-radius: 0.7rem;
  background: $whiteGradient;
  box-shadow: $boxShadowLg;
  padding: 1rem 1.5rem;
  width: 100%;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  &__logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &__img {
      width: 100px;
      margin-right: 1.5rem;
    }
    &__title {
      font-family: 'Poppins', sans-serif;
      color: $darkBlue;
      font-weight: 600;
      max-width: 60%;
    }
  }
  &__clock {
    border-radius: 0.7rem;
    background: $darkBlue;
    margin-left: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &__content {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 2rem;
      color: $white;
    }
  }
}

.main {
  width: 100%;
  min-height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  &__block {
    width: 32%;
    background-color: white;
    border-radius: 0.7rem;
    box-shadow: $boxShadowLg;
    display: flex;
    flex-direction: column;
    &__title {
      min-height: 4rem;
      width: 100%;
      border-radius: 0.7rem 0.7rem 0 0;
      background: $darkBlue;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 1.2rem;
      color: $white;
      text-align: center;
      padding: 1rem;
    }
    &__list {
      height: 100%;
      width: 100%;
    }
    &__button {
      min-height: 4rem;
      width: 100%;
      border-radius: 0 0 0.7rem 0.7rem;
      background: $darkBlue;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 1.2rem;
      color: $white;
      margin-top: auto;
    }
  }
}

.item {
  border-radius: 0.3rem;
  background: $white;
  box-shadow: $boxShadowSm;
  text-align: start;
  padding: 0.3rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: $darkBlue;
  display: flex;
  flex-direction: column;
  &:last-of-type {
    margin-bottom: 0.5rem;
  }
  &__top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    &__select {
      max-width: 8rem;
      border-radius: 0.4rem;
      border: 1px solid $gray;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 0.7rem;
      outline: none;
    }
    &__close {
      margin-left: 0.5rem;
      border-radius: 0.4rem;
      background: $red;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 0.7rem;
      color: $white;
      padding: 0.3rem;
    }
  }
  &__title {
    font-weight: 700;

  }
  &__description {
    font-size: 0.8rem;
    padding: 0.3rem 0;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 0.9rem;
  }
}

.red {
  background: $redGradient;
}
.orange {
  background: $orangeGradient;
}
.green {
  background: $greenGradient;
}
.button {

}

.scroll {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0.4rem;

  }
  &::-webkit-scrollbar-thumb {
    background-color: $darkGray;
    border-radius: 0.4rem;
  }
}










